<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Servizi Spa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="subtitle">Relax assicurato top wow</div>
  <h2 class="page-title">SERVIZI SPA</h2>

  <ion-grid>
    <ion-row>
      <!-- Prima card -->
      <ion-col size="12" size-md="6">
        <div class="service-card">
          <h3>Massaggi</h3>
          <p><strong>Top Massaggio</strong></p>
          <p><em>20 minuti</em>: €70</p>
        </div>
      </ion-col>

      <!-- Seconda card -->
      <ion-col size="12" size-md="6">
        <div class="service-card">
          <h3>Massaggi</h3>
          <p><strong>Top Massaggio</strong></p>
          <p><em>20 minuti</em>: €70</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
