:root {
  --ion-color-primary: #9B97B2;
  --ion-color-primary-rgb: 155, 151, 178;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #8986a0;
  --ion-color-primary-tint: #aaa5c0;

  --ion-color-secondary: #73A6AD;
  --ion-color-secondary-rgb: 115, 166, 173;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #658f95;
  --ion-color-secondary-tint: #85b4ba;

  --ion-color-tertiary: #D8A7CA;
  --ion-color-tertiary-rgb: 216, 167, 202;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #be92b2;
  --ion-color-tertiary-tint: #dfb5d4;

  --ion-background-color: #ECEAE0;

  --ion-color-light: #C7B8EA;
  --ion-color-light-rgb: 199, 184, 234;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
}
