<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Centro Estetico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Benvenuta nel nostro centro estetico!</h2>
  <p>Scopri i trattamenti di bellezza e benessere.</p>

  <ion-button expand="block" routerLink="/services">
    Vedi i Servizi
  </ion-button>

  <ion-button expand="block" routerLink="/booking">
    Prenota un Appuntamento
  </ion-button>

  <ion-button expand="block" routerLink="/contact">
    Contattaci
  </ion-button>
</ion-content>
