<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Centro Estetico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Hero -->
  <div class="hero">
    <h2>Esperienza di bellezza e benessere</h2>
    <p>Trattamenti esclusivi nel nostro centro estetico</p>
    <ion-button color="success" expand="block">Prenota Ora</ion-button>
  </div>

  <!-- Services -->
  <h2 class="services-title">Esplora i nostri Servizi</h2>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" class="service">
        <ion-icon name="cut-outline"></ion-icon>
        <p>Hair + Color</p>
      </ion-col>
      <ion-col size="6" size-md="4" class="service">
        <ion-icon name="color-palette-outline"></ion-icon>
        <p>Nails</p>
      </ion-col>
      <ion-col size="6" size-md="4" class="service">
        <ion-icon name="sparkles-outline"></ion-icon>
        <p>Spa</p>
      </ion-col>
      <ion-col size="6" size-md="4" class="service">
        <ion-icon name="eyedrop-outline"></ion-icon>
        <p>Wax</p>
      </ion-col>
      <ion-col size="6" size-md="4" class="service">
        <ion-icon name="heart-outline"></ion-icon>
        <p>Bridal</p>
      </ion-col>
      <ion-col size="6" size-md="4" class="service">
        <ion-icon name="flash-outline"></ion-icon>
        <p>Blowout</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
